<%- include('./partials/header') %>

    <h1>
        <%= title %>
    </h1>
    <img class="index-img" src="/images/theoffice.png" alt="living room">
    <div class=row>
        <div class="col s5 index-content">
            <p>Welcome to Shamique Etienne's website about Home designing</p>
            <p>To access everything related to styling your home office, please log in with your
                Google
                account!</p>
            <p>Thank you for experiencing my CRUD application with me!</p>
        </div>
    </div>

    <%- include('./partials/footer') %>