<%- include('./partials/header') %>

    <h1>
        <%= title %>
    </h1>
    <img class="index-img" src="/images/office.png" alt="living room">
    <div class=row>
        <div class="col s5 index-content">
            <p>Welcome to Shamique's blog about Home Decor</p>
            <p>To see all facts related to home designing and styling your home office, please log in with your Google
                account!</p>
        </div>
    </div>

    <%- include('./partials/footer') %>