<%- include('../partials/header') %>

    <div class="section">
        <div class="col s12">
            <h1>
                <%= title %>
            </h1>
            <div class="row">
                <div class="col s12 ">
                    <img class="abouts-image" src="/images/itsme.jpg">
                </div>
                <p class="abouts-content">
                    I have always been in love with interior design and different ways to improve home living.
                    Decorating your home, but more importantly, your office, reveals a lot about you & your personality,
                    and it can even impact your mental health. I photograph architecture, art, and home designs in my
                    free time using my amazing Canon EOS R. Design is a lot more than simply having a pretty room, it
                    can leave an impact on the way we relate to our surroundings and lifestyle.
                </p>
                <p class="abouts-content">But it is now time to become a Software Engineer and put my creativity to the
                    test!
                </p>
                <p>Here is my creative CRUD project on home decor. See the different styles through my lens! </p>

            </div>
            <a class="white-text" href="/">
                <button class="waves-effect black btn-small delete-btn back-btn">
                    <i class="tiny material-icons white-text">arrow_back</i>
                </button>
            </a>
        </div>
    </div>

    <%- include('../partials/footer') %>