<%- include('../partials/header') %>

    <div class="section">
        <div class="col s12">
            <h1>
                <%= title %>
            </h1>
            <div class="row">
                <div class="col s12 ">
                    <img class="abouts-image" src="/meee.jpg">
                </div>